/kernel/target/
/kernel/kernel
/kernel/kernel.fw.bin
/kernel/kernel.trap.bin
/kernel/BOOTX64.EFI
/fw/cerne-fw.bin
/ld/cerne-ld.bin
/kindling.img
/kindling-*.img
/esp/
/ovmf_vars.fd
/limine/
/iso_root/
*.iso
*.hdd
/ovmf/
.idea/
